
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_MAP_API_KEY=
NEXT_PUBLIC_ADDRESS=Ruko Fatmawati Mas Blok III Kav. 328 - 329, Jl. RS Fatmawati No. 20, Cilandak Barat, Cilandak, Jakarta Selatan, Indonesia
NEXT_PUBLIC_PHONE_CS=
NEXT_PUBLIC_URL_OBS="https://codify.obs.ap-southeast-4.myhuaweicloud.com"