# API BASE URLs
NEXT_PUBLIC_API_BASE_URL=

# SSE BASE URLs
NEXT_PUBLIC_API_URL_SSE=

# Internal API URLs
INTERNAL_SSE_TOKEN=""
INTERNAL_API_BASE_URL_SSE="" 
NEXT_PUBLIC_INTERNAL_API_BASE_URL=""
NEXT_PUBLIC_INTERNAL_API_CMS_BASE_URL=""

NEXT_PUBLIC_ADDRESS=Jalan Tiang Bendera V No.20 Roa Malaka, Tambora, Jakarta Barat
NEXT_PUBLIC_PHONE_CS=6281110689111
NEXT_PUBLIC_EMAIL_CS=cs@internetrakyat.id
NEXT_PUBLIC_URL_OBS="https://codify-fwa.obs.ap-southeast-4.myhuaweicloud.com/"
NEXT_PUBLIC_MAP_API_KEY=

#JWT
JWT_SECRET=jia-secret-key
JWT_EXPIRES=1d


